/*========================== Variables ==========================*/

:root {
  --color-primary: #1B1B1B; 
  --color-secondary: #7A7A7A; 

  --studentspace-regular : 'StudentSpace-Regular';
  --studentspace-medium : 'StudentSpace-Medium';
  --studentspace-bold : 'StudentSpace-Bold';
}