/*========================== Variables ==========================*/

:root {
  --color-primary: #101619; 

  --font-regular : 'Samsung Sharp Sans Regular';
  --font-medium : 'Samsung Sharp Sans Medium';
  --font-bold : 'Samsung Sharp Sans Bold';
}